#result {
  display: none;
  text-align: left !important;
}

body {
  font-family: 'Noto Serif', 'serif';
  background: url('/img/triangle_spiral.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
}

.container {
  background-color: #E4E4E4;
  margin-top: 5%;
  width: 800px;
  height: 550px;
  margin-left: auto;
  padding: 15px;
  border: solid #007B66;
  border-radius: 10px;
}

h1 {
  color: #006151;
  text-align: center;

}

p {
  text-align: center;
}

.form-group {
  margin-left: 23px;
}

#submit-btn {
  margin-left: auto;
  /*float:right;*/

}

#reset {
  float:right;
  margin-right: 150px;
}

}

input[type=text]{
  border-radius:10px;
  width: 500px; /* changes the input field size! */
}
