#result {
  display: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: url('../img/triangle-landscape.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
}

.container {
  background-color: #F4EAD5;
  opacity: 0.85;
  margin-top: 5%;
  width: 500px;
  height: 500px;
  margin-left: auto;
  padding: 15px;
  border: solid #007B66;
  border-radius: 10px;
}

h1 {
  color: #006151;
  text-align: center;
  font-family: 'Play', sans-serif;
}

h3 {
  color: #006151;
  text-align: center;
  font-family: 'Play', sans-serif;
}

p {
  text-align: center;
  font-family: 'Play', sans-serif;
}

.form-group {
  margin-left: 23px;
  width: 100%;
}

#submit-btn {
  float: right;
  padding-right: 1em;
  margin-right: 30px;
}

#submit-btn + label {
  float: right;
}

input {
  width: 50px;
}
